body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    width: 1440px;
    background-color: #fff;
    margin: 0;
}
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
ul {
    list-style-type: none;
}
.accent {
    color: #4D5AE5;
}
.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

