.hero-main {
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    padding: 72px 0px;
}
@media (min-resolution: 2dppx) {
  .hero-main {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg@2x.jpg");
  }
}
@media only screen and (min-width: 768px) {
  .hero-main {
    padding: 112px 0px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-main {
    padding: 188px 0px;
    max-width: 1440px;
  }
}
.hero-main-container{
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    padding: 0px 15px;
}
@media only screen and (min-width: 768px) {
  .hero-main-container {
    padding: 0px 16px;
    width: 768px;
    max-width: 1158px;
    gap: 36px;
  }
}
@media only screen and (min-width: 1158px) {
    .hero-main-container { 
        width: 1158px;      
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
}

.hero-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 216px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
.hero-button {
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4D5AE5;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button {
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}