.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateX(100%);
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
    transition:
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.mobile-menu-container {
    width: 100%;
    height: 100%;
    padding: 72px 24px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
}
.mobile-menu-list,
.menu-address,
.menu-social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu.is-open {
    transform: translateX(0);
    opacity: 1;
        visibility: visible;
        pointer-events: auto;
}
.menu-social-icons .icon {
    transition: background-color 
    250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    box-sizing: border-box;
    background-color: #E7E9FC;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
    color: #fff;
    background-color: #404BBF;
    border: transparent;
}

.mobile-menu-icon-btn {
    fill: #2E2F42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.mobile-menu-btn:hover .mobile-menu-icon-btn,
.mobile-menu-btn:focus .mobile-menu-icon-btn {
    fill: #fff;
}
.menu-bottom-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.menu-address-wrapper{
    font-style: normal;
}
.menu-address{
    display: flex;
        flex-direction: column;
        gap: 24px;
}
.menu-social-icons .icon:hover,
.menu-social-icons .icon:focus {
    background-color: #404BBF;
    color: #f4f4fd;
}
.menu-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    padding: 0;
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-address-link.phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #4D5AE5;
}

.menu-address-link.email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #434455;
}
.menu-address-link:hover,
.menu-address-link:focus{
    color: #4D5AE5;
}
.mobile-list-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.mobile-list-item:not(:last-child){
    margin-bottom: 40px;
}

.mobile-menu-link{
    text-decoration: none;
        color: #2E2F42;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus{
    color: #404BBF;
}
.menu-social-icons{
    display: flex;
    gap: 40px;
}
.menu-social-icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    fill: #F4F4FD;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}