.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(46 47 66 /40%);

    opacity: 0;
    visibility: hidden;   
    pointer-events: none;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility;
}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 408px;
    width: 100%;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    box-shadow:
    0 1px 1px rgba(0, 0, 0, .14),
    0 1px 3px rgba(0, 0, 0, .12),
    0 2px 1px rgba(0, 0, 0, .2);
    background-color: #FCFCFC;
}

.modal-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    box-sizing: border-box;
    background-color: #E7E9FC;
    border-radius: 50%;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: #404BBF;
    border: transparent;
}
.modal-icon-btn {
    fill: #2E2F42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}
.modal-btn:hover .modal-icon-btn,
.modal-btn:focus .modal-icon-btn {
    fill: #fff;
}

.modal-text{
    width: 100%;
    margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.modal-agreement-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
}



.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    
}

.modal-form-item {
    position: relative;
}

.modal-form-input {
    max-width: 360px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 38px;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}
.modal-form-input:focus{
    border-color: #4D5AE5;
}
.modal-form-input:focus + 
.modal-icon {
    fill: #4D5AE5;
}
.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}
.modal-form-wrapper{
    margin-bottom: 8px;
}
.modal-form-wrapper.comment {
    margin-bottom: 16px;
}
.modal-form-comment {
    max-width: 360px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, .4);
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}
.modal-form-comment::placeholder {
    color: rgb(46 47 66/40%);
}
.modal-form-comment:focus{
    border-color: #4D5AE5;
}

.agreement {
    margin-bottom: 24px;
}
.checkbox-icon {
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgb(46 47 66/40%);
    cursor: pointer;
    fill: #ffffff;
    transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.checkbox-icon-mark {
    opacity: 0;
    transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-input:checked + .agreement-label> 
.checkbox-icon{
    fill:#F4F4FD;
    background-color: #404BBF;
}
.agreement-input:checked+.agreement-label 
.checkbox-icon-mark {
    opacity: 1;
}


.checkbox-agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.agreement-link{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}
.modal-send-btn{
    display: flex;
    justify-content: center;
}
.send-btn{
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    border-color: transparent;
    cursor: pointer;

}
.send-btn:hover,
.send-btn:focus{
   background-color: #404BBF;
}